@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 20px rgb(219, 219, 219);
  padding: 1em;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 2em;
}

.nav-items > li {
  font-weight: bold;
}

.logo {
  width: 50px;
}

.main-content {
  padding: 1em;
}

ol {
  line-height: 1.5rem;
}

footer {
  padding: 1em;
  background-color: gray;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}
