.About {
  padding: 0 2.3em;
}

.about--title {
  font-size: 1.313rem;
  margin-top: 0.7em;
  margin-bottom: 0.25em;
}

.about--description {
  font-size: 0.64rem;
  line-height: 1.4em;
}
