body {
  margin: 0;
  background-color: #0b2434;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f5f5f5;
  min-height: 25em;
  min-width: 25em;
  border-radius: 6.4px;
}
