.scoreboard-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  min-width: 25em;
}

.board-title {
  color: antiquewhite;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0.5em;
}

.score-data {
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.data-rank {
  color: yellow;
}
