/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/*
  Navbar COMPONENT
*/

nav {
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em 2em;
}

.logo {
  display: flex;
  align-items: center;
}

.react-logo {
  /* width: em; */
  height: 2.5em;
}

.logo-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #61dafb;
}

.project-name {
  font-size: 1rem;
  font-weight: 600;
  color: #deebf8;
}

/*
  MAIN COMPONENT
*/
.main {
  background-color: #282d35;
  height: 100vh;
  padding: 3em 2.5em;
}

.title {
  color: #ffffff;
  font-size: 2.4rem;
  margin-bottom: 0.8em;
  letter-spacing: -0.1rem;
}

.list > li {
  color: #ffffff;
  /* line-height: 2.5rem; */
  padding-block: 0.6em;
  max-width: 23em;
}
