.meme {
  padding: 2.25em;
}

.form--text-inputs {
  display: flex;
  justify-content: space-between;
  gap: 1.063em;
}

.form--input-text {
  padding: 0.688em;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  width: 100%;
}

.form--input-submit {
  width: 100%;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  padding: 0.875em;
  color: #fff;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.938em;
  cursor: pointer;
}

.meme-image {
  position: relative;
}

.meme--img {
  margin-top: 2em;
  max-width: 100%;
}

.meme--caption-top,
.meme--caption-bottom {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000;
  font-family: impact;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 5px #000;
  width: 90%;
  text-align: center;
}

.meme--caption-top {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translate(-50%, 0);
}

.meme--caption-bottom {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translate(-50%, 0);
}
