body {
  box-sizing: 0;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body,
h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
}

.App {
  /* background-color: green; */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/*
  Card
*/

.card {
  background-color: #1a1b21;
  min-width: 20em;
  border-radius: 1em;
  /* margin: 0 auto; */
}
